body {
    margin: 0;
    box-sizing: border-box;
}
.cards {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.level {
    color: gray;
    opacity: 0.7;
    font-size: 14px;
}

.desc {
    padding-inline: 32px;
    padding-block: 16px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-inline: 8px;
}
.footer {
    color: white;
    background-color: black;
    width: 100%;
    border: none;
    cursor: pointer;
    padding-block: 8px;
    text-decoration: none;
}